<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookmanage.bookmanage.model.AccountModel">
    <update id="updateAccount" parameterType="com.bookmanage.bookmanage.bean.Account">
        update t_account
        <set>
            <if test="isManager != null">
                is_manager = #{isManager},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
</mapper>