<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookmanage.bookmanage.model.AccountModel">
    <update id="updateAccount" parameterType="com.bookmanage.bookmanage.bean.Account">
        update t_account
        <set>
            <if test="isManager != null">
                is_manager = #{isManager},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
    <select id="getAccount" parameterType="com.bookmanage.bookmanage.bean.Account" resultType="com.bookmanage.bookmanage.bean.Account">
        select * from t_account
            <where>
            1 = 1
            <if test="isManager != null">
                and is_manager = #{isManager}
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="password != null">
                and password = #{password}
            </if>
            <if test="sex != null">
                and sex = #{sex}
            </if>
            <if test="age != null">
                and age = #{age}
            </if>
            <if test="address != null">
                and address = #{address}
            </if>
        </where>
    </select>
</mapper>