<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookmanage.bookmanage.model.BookModel">
    <select id="getBooks" resultType="com.bookmanage.bookmanage.bean.Book">
        select * from t_book
        <where>
        1 = 1
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="accountId != null">
                and account_id = #{accountId}
            </if>
            <if test="title != null">
                and title = #{title}
            </if>
            <if test="authorName != null">
                and author_name = #{authorName}
            </if>
            <if test="source != null">
                and source = #{source}
            </if>
            <if test="verifyed != null">
                and verifyed = #{verifyed}
            </if>
            <if test="pushDate != null">
                and push_date = #{pushDate}
            </if>
        </where>
    </select>
    <insert id="saveBook" parameterType="com.bookmanage.bookmanage.bean.Book" >
        insert into t_book (account_id,title,author_name,source,path,verifyed,push_date) value (#{accountId},#{title},#{authorName},#{source},#{path},#{verifyed},#{pushDate})
    </insert>
    <update id="updateBook" parameterType="com.bookmanage.bookmanage.bean.Book">
        update t_book
        <set>
            <if test="accountId != null">
                account_id = #{accountId},
            </if>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="authorName != null">
                author_name = #{authorName},
            </if>
            <if test="source != null">
                source = #{source},
            </if>
            <if test="path != null">
                path = #{path},
            </if>
            <if test="verifyed != null">
                verifyed = #{verifyed},
            </if>
            <if test="pushDate != null">
                push_date = #{pushDate},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
    <select id="getBooksByKeyWord" parameterType="String" resultType="com.bookmanage.bookmanage.bean.Book">
        select * from t_book where title like '%${keyWord}%' or author_name like '%${keyWord}%' or source like '%${keyWord}%'
    </select>
</mapper>